body {
    background: #3f5b8b;
}

#centrado {
    text-align: center;
    color: #ffffff
}

img {
    float: left;
}


/* colores y propiedades (franja negra)*/

header {
    width: 100%;
}

.arriba {
    width: 1800;
    margin: 30px auto;
    background: #000000;
}


/* home etc*/

.arriba ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
}

.menu li a:hover {
    color: #cf1c1c;
    transition: all .3s;
}


/* desplegable*/

.desplegable {
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.desplegable li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .desplegable {
    visibility: visible;
    opacity: 1;
}